<nav class="navbar">
  <ul class="navbar__list navbar__list-b">
    <li class="navbar__li"><a class="navbar__li-anchor btn-nav-b" href="/owners/new">New</a></li>
    <li class="navbar__li"><a class="navbar__li-anchor btn-nav-b status-available" href="/owners/filters/available">Available</a></li>
  </ul>
</nav>

<div class="title">
  <h2 class="title__heading"><%= @title %></h2>
</div>

<div class="grid">
  <% if @owners.any? %>
    <% @owners.each() do |owner| %>
      <article class="grid__item profile <%= owner.get_status_class() %>">
        <div class="profile__body">
          <h3 class="profile__name" ><%= owner.name() %></h3>
          <p>Adopted animal: <%= owner.get_owned_animal() ? owner.get_owned_animal().name() : "None" %></p>
        </div>
        <div class="profile__footer">
          <a class="btn" href="/owners/<%= owner.id() %>">Show</a>
        </div>
      </article>
    <% end %>
  <% else %>
    <p>No results found.</p>
  <% end %>
</div>
