<nav class="navbar">
  <ul class="navbar__list navbar__list-b">
    <li class="navbar__li"><a class="navbar__li-anchor btn-nav-b" href="/owners/new">New</a></li>
    <li class="navbar__li"><a class="navbar__li-anchor btn-nav-b" href="/owners/filters/available">Available</a></li>
  </ul>
</nav>

<div class="title">
  <h2 class="title__heading">Show Owner: <%= @owner.name() %></h2>
</div>

<div class="profile-full">
  <p>Name: <%= @owner.name() %></p>
  <p>Adopted animal:
    <% if (@owned_animal) %>
      <a href="/animals/<%= @owned_animal.id() %>"><%= @owned_animal.name() %></a>
    <% else %>
      None
    <% end %>
  </p>
  <form style="display: inline" action="/owners/<%= @owner.id %>/delete" method="post">
    <input class="btn" type="submit" value="Delete">
  </form>
</div>
