<nav class="navbar">
  <ul class="navbar__list navbar__list-b">
    <li class="navbar__li"><a class="navbar__li-anchor btn-nav-b" href="/animals/new">New</a></li>
    <li class="navbar__li"><a class="navbar__li-anchor btn-nav-b" href="/animals/filters/unavailable">Unavailable</a></li>
    <li class="navbar__li"><a class="navbar__li-anchor btn-nav-b" href="/animals/filters/available">Available</a></li>
    <li class="navbar__li"><a class="navbar__li-anchor btn-nav-b" href="/animals/filters/adopted">Adopted</a></li>
  </ul>
</nav>

<div class="title">
  <h2 class="title__heading">Edit <%= @animal.name %></h2>
</div>

<form class="form" action="/animals/<%= @animal.id %>" method="post">
  <div class="form__input">
    <label for="name">Name *</label>
    <input id="name" type="text" name="name" value="<%= @animal.name() %>" required>
  </div>

  <div class="form__input">
    <label for="type">Type </label>
    <input id="type" type="text" name="type" value="<%= @animal.type() %>">
  </div>

  <div class="form__input">
    <label for="admission-date">Admission date *</label>
    <input id="admission-date" type="text" name="admission_date" value="<%= @animal.admission_date() %>" required>
  </div>

  <div class="form__input">
    <label for="available-for-adoption">Available for adoption </label>
    <select id="available-for-adoption" name="available_for_adoption">
      <option value="true" <%= "selected" if @animal.available_for_adoption() == 't' %>>Yes</option>
      <option value="false" <%= "selected" if @animal.available_for_adoption() == 'f' %>>No</option>
    </select>
  </div>

  <div class="form__input">
    <label for="owner">Owner</label>
    <select id="owner" name="owner_id">
      <option value="nil" <%= "selected" if @animal.owner_id() == nil %>>No owner</option>
      <% @owners.each do |owner| %>
        <option value="<%= owner.id %>" <%= "selected" if owner.id() == @animal.owner_id() %>><%= owner.name() %></option>
      <% end %>
    </select>
  </div>

  <input class="btn" type="submit" name="" value="Save changes">
</form>
