<nav class="navbar">
  <ul class="navbar__list navbar__list-b">
    <li class="navbar__li">
      <a class="navbar__li-anchor btn-nav-b" href="/animals/new">New</a>
    </li>
    <li class="navbar__li">
      <a class="navbar__li-anchor btn-nav-b status-unavailable" href="/animals/filters/unavailable">Unavailable</a>
    </li>
    <li class="navbar__li">
      <a class="navbar__li-anchor btn-nav-b status-available" href="/animals/filters/available">Available</a>
    </li>
    <li class="navbar__li">
      <a class="navbar__li-anchor btn-nav-b status-adopted" href="/animals/filters/adopted">Adopted</a>
    </li>
  </ul>
</nav>


<div class="title">
  <h2 class="title__heading">Edit <%= @animal.name %></h2>
</div>

<form class="form" action="/animals/<%= @animal.id %>" method="post">
  <label for="name">Name *</label>
  <input id="name" type="text" name="name" value="<%= @animal.name() %>" required>

  <label for="type">Type </label>
  <input id="type" type="text" name="type" value="<%= @animal.type() %>">

  <label for="image-url">Image URL </label>
  <input id="image-url" type="text" name="image_url" value="<%= @animal.image_url() %>">

  <label for="admission-date">Admission date *</label>
  <input id="admission-date" type="text" name="admission_date" placeholder="DD/MM/YYYY" value="<%= @animal.admission_date() %>" required>

  <label for="available-for-adoption">Available for adoption </label>
  <select id="available-for-adoption" name="available_for_adoption">
    <option value="true" <%= "selected" if @animal.available_for_adoption() == 't' %>>Yes</option>
    <option value="false" <%= "selected" if @animal.available_for_adoption() == 'f' %>>No</option>
  </select>

  <label for="owner">Owner</label>
  <select id="owner" name="owner_id">
    <option value="nil" <%= "selected" if @animal.owner_id() == nil %>>No owner</option>
    <% @owners.each do |owner| %>
      <option value="<%= owner.id %>" <%= "selected" if owner.id() == @animal.owner_id() %>><%= owner.name() %></option>
    <% end %>
  </select>

  <button class="btn" type="submit">Save Changes</button>
</form>
