<nav class="navbar">
  <ul class="navbar__list navbar__list-b">
    <li class="navbar__li">
      <a class="navbar__li-anchor btn-nav-b" href="/animals/new">New</a>
    </li>
    <li class="navbar__li">
      <a class="navbar__li-anchor btn-nav-b status-unavailable" href="/animals/filters/unavailable">Unavailable</a>
    </li>
    <li class="navbar__li">
      <a class="navbar__li-anchor btn-nav-b status-available" href="/animals/filters/available">Available</a>
    </li>
    <li class="navbar__li">
      <a class="navbar__li-anchor btn-nav-b status-adopted" href="/animals/filters/adopted">Adopted</a>
    </li>
  </ul>
</nav>


<div class="title">
  <h2 class="title__heading"><%= @title %></h2>
</div>

<div class="grid">
  <% if @animals.any? %>
    <% @animals.each() do |animal| %>
      <article class="grid__item profile <%= animal.get_status_class() %>">
        <div class="profile__header">
          <img class="profile__img"
            src="<%= animal.image_url().nil?() || animal.image_url().empty? ? '/images/default.jpeg' : animal.image_url() %>"
            alt="<%= animal.name() %> profile photo">
        </div>
        <div class="profile__body">
          <h3 class="profile__name" ><%= animal.name() %></h3>
          <p>Admission date: <br /><%= animal.admission_date() %></p>
        </div>
        <div class="profile__footer">
          <a class="btn" href="/animals/<%= animal.id %>">Show</a>
          <a class="btn" href="/animals/<%= animal.id %>/edit">Edit</a>
          <form style="display: inline" action="/animals/<%= animal.id %>/delete" method="post">
            <input class="btn" type="submit" value="Delete">
          </form>
        </div>
      </article>
    <% end %>
  <% else %>
    <p>No results found.</p>
  <% end %>
</div>
