<nav class="navbar">
  <ul class="navbar__list navbar__list-b">
    <li class="navbar__li"><a class="navbar__li-anchor btn-nav-b" href="/animals/new">New</a></li>
    <li class="navbar__li"><a class="navbar__li-anchor btn-nav-b" href="/animals/filters/unavailable">Unavailable</a></li>
    <li class="navbar__li"><a class="navbar__li-anchor btn-nav-b" href="/animals/filters/available">Available</a></li>
    <li class="navbar__li"><a class="navbar__li-anchor btn-nav-b" href="/animals/filters/adopted">Adopted</a></li>
  </ul>
</nav>

<div class="title">
  <h2 class="title__heading">Search: <%= @search %></h2>

  <div class="title__search">
    <form class="" action="/animals/search" method="get">
      <input class="title__search-input" type="text" name="type" placeholder="Search type...">
    </form>
  </div>
</div>


<% if @animals.any? %>
  <div class="grid">
    <% @animals.each() do |animal| %>
      <article class="grid__item profile">
        <div class="profile__header">
          <img class="profile__img"
            src="<%= animal.image_url().nil?() || animal.image_url().empty? ? '/images/default.jpeg' : animal.image_url() %>"
            alt="<%= animal.name() %> profile photo">
        </div>
        <div class="profile__body">
          <h3 class="profile__name" ><%= animal.name() %></h3>
          <p>Admission date: <%= animal.admission_date() %></p>
          <p>Adopted: <%= animal.has_owner?() ? "Yes" : "No" %></p>
        </div>
        <div class="profile__footer">
          <a class="btn" href="/animals/<%= animal.id %>">Show</a>
          <a class="btn" href="/animals/<%= animal.id %>/edit">Edit</a>
          <form style="display: inline" action="/animals/<%= animal.id %>/delete" method="post">
            <input class="btn" type="submit" value="Delete">
          </form>
        </div>
      </article>
    <% end %>
  </div>
<% else %>
  <p class="text-center">No results found. Maybe you were looking for:</p>
  <ul class="search-suggestions text-center">
    <% @types.each() do |type| %>
      <li class="search-suggestions__li">
        <a class="search-suggestions__li-anchor" href="/animals/search?type=<%= type %>"><%= type %></a>
      </li>
    <% end %>
  </ul>
<% end %>
