<h2>Search type: </h2>

<div class="">
  <form class="" action="/animals/search" method="get">
    <input type="text" name="type" placeholder="search type">
  </form>
</div>

<div class="">
  <% if @animals.any?() %>
    <ul>
      <% @animals.each() do |animal| %>
        <li>
          <p>Name: <%= animal.name() %></p>
          <p>Admission date: <%= animal.admission_date() %></p>
          <p>Adopted: <%= animal.has_owner?() ? "Yes" : "No" %></p>
          <a href="/animals/<%= animal.id %>">Show</a>
          <a href="/animals/<%= animal.id %>/edit">Edit</a>
          <form style="display: inline" action="/animals/<%= animal.id %>/delete" method="post">
            <input type="submit" value="Delete">
          </form>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No results found for <%= @search %></p>
  <% end %>
</div>
