<h2>Showing <%= @animal.name %></h2>

<div class="">
  <p>Name: <%= @animal.name() %></p>
  <p>Type: <%= @animal.type() %></p>
  <p>Admission date: <%= @animal.admission_date() %></p>
  <p>Available for adoption: <%= @animal.available_for_adoption() == "t" ? "Yes" : "No" %></p>
  <p>Owner:
    <% if (@animal.owner_id() && @owner) %>
      <a href="/owners/<%= @animal.owner_id()%>"><%= @owner.name() %></a>
    <% else %>
      No owner
    <% end %>
  </p>
</div>
