<nav class="navbar">
  <ul class="navbar__list navbar__list-b">
    <li class="navbar__li"><a class="navbar__li-anchor btn-nav-b" href="/animals/new">New</a></li>
    <li class="navbar__li"><a class="navbar__li-anchor btn-nav-b" href="/animals/filters/unavailable">Unavailable</a></li>
    <li class="navbar__li"><a class="navbar__li-anchor btn-nav-b" href="/animals/filters/available">Available</a></li>
    <li class="navbar__li"><a class="navbar__li-anchor btn-nav-b" href="/animals/filters/adopted">Adopted</a></li>
  </ul>
</nav>

<div class="title">
  <h2 class="title__heading">Show Animal: <%= @animal.name %></h2>
</div>

<div class="profile-full">
  <p>Name: <%= @animal.name() %></p>
  <p>Type: <%= @animal.type() %></p>
  <p>Admission date: <%= @animal.admission_date() %></p>
  <p>Available for adoption: <%= @animal.available_for_adoption() == "t" ? "Yes" : "No" %></p>
  <p>Owner:
    <% if (@animal.owner_id() && @owner) %>
      <a href="/owners/<%= @animal.owner_id()%>"><%= @owner.name() %></a>
    <% else %>
      No owner
    <% end %>
  </p>
</div>
